# Virtual environment
crowd-detection/

# VSCode settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Cache/compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

